<div class="sidebar">
  <div class="links">
    <a routerLink="invoice" class="link" routerLinkActive="active"
      ><span class="material-symbols-outlined"> sort </span>Factura</a
    >

    <a routerLink="dashboard" class="link" routerLinkActive="active"
      ><span class="material-symbols-outlined"> person </span>Profil</a
    >
    <a routerLink="help" class="link" routerLinkActive="active"
      ><span class="material-symbols-outlined"> contact_support </span>Ajutor</a
    >
    <a routerLink="contact" class="link" routerLinkActive="active"
      ><span class="material-symbols-outlined"> mail </span>Contact</a
    >
  </div>
  <p class="logo">e-factura</p>
</div>
