.textarea {
  outline: 1px solid var(--component-border);
  border: none;
  background-color: var(--input-focused);

  padding: 0.5rem;
}
.label {
  width: fit-content;
}
.container {
  display: flex;
  flex-direction: column;
  // background: linear-gradient(to bottom, #0000008c, transparent);
  align-items: center;
  gap: 0.5rem;
  padding: 2rem;
  background-color: black;
  border: none;
}
