<div class="container" (click)="status = true" (mouseleave)="status = false">
  <form class="form" [formGroup]="invoiceDetails">
    <label for="invoiceType" class="label">tipul facturii:</label>
    <select class="input" id="invoiceType" formControlName="InvoiceTypeCode">
      <option value="380">Factura</option>
      <option value="384">Factura corectata</option>
      <option value="389">Autofactura</option>
    </select>
    <label for="invoicenumber" class="label">nr. factură:</label>
    <input
      type="text"
      id="invoicenumber"
      class="input nrfac"
      formControlName="ID"
    />
    <label for="issueDate" class="label">data emiterii:</label>
    <mat-form-field class="date">
      <input
        matInput
        class="input"
        formControlName="IssueDate"
        [matDatepicker]="picker2"
      />

      <mat-datepicker-toggle [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

    <label for="Date" class="label">perioada facturată:</label>
    <mat-form-field class="picker">
      <mat-date-range-input
        formGroupName="InvoicePeriod"
        [rangePicker]="picker"
      >
        <input
          matStartDate
          class="input"
          formControlName="StartDate"
          placeholder="Start Date"
        />
        <input
          matEndDate
          class="input"
          formControlName="EndDate"
          placeholder="End date"
        />
      </mat-date-range-input>
      <mat-datepicker-toggle [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <label for="currency" class="label">moneda:</label>

    <select
      class="input"
      id="currency"
      formControlName="DocumentCurrencyCode"
      (change)="changeCurrency()"
    >
      <option *ngFor="let item of currencies" [value]="item.code">
        {{ item.name }}
      </option>
    </select>

    <label for="orderRef" class="label">nr. comanda:</label>
    <input
      formControlName="OrderReference"
      id="orderRef"
      type="text"
      class="input"
    />
    <label for="ContractReference" class="label">nr. contract:</label>
    <input
      formControlName="ContractReference"
      id="ContractReference"
      type="text"
      class="input"
      formControlName="ContractReference"
    />
  </form>
</div>
