.form {
  display: grid;
  grid-template-columns: 0.2fr 1fr;

  gap: 1em;
  align-items: end;
  justify-content: center;
}
.header {
  display: flex;
  // border-bottom: 1px solid #06bbc17d;

  align-items: center;
}

.content {
  overflow: hidden;
  position: relative;
}
.invalid {
  text-align: center;
  height: 100%;
  margin-top: 2rem;
  font-family: "Poppins", sans-serif;
  color: var(--danger);
}
.closed-view {
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.2fr 1fr;
  column-gap: 0.5rem;
  row-gap: 1rem;
  padding: 1rem;
  .value {
    font-family: "Poppins", sans-serif;
    color: var(--text);
  }
  .label {
    grid-column: auto;
    margin: auto;
  }
}

.nrfac.ng-invalid:not(mat-form-field, form) {
  border-bottom: 1px solid red;
}
.edit-adress-container {
  display: flex;
  justify-content: space-between;
}
.adress-link {
  padding: 0.1rem;
  display: flex;
}
.picker {
  color: var(--text);
  border-bottom: 1px solid var(--border);

  font-weight: 200;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
}
.date {
  border-bottom: 1px solid var(--border);
  .input {
    border: none;
    width: 100%;
  }
}
.date.ng-invalid:not(.input),
.picker.ng-invalid:not(.input) {
  border-bottom: 1px solid var(--danger);
}
