.search {
  all: unset;
  width: 90%;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  color: white;
  border-radius: 8px;
  box-shadow: inset 2px 2px 10px #0000002e;
  border: 1px solid #ffffff78;
  padding: 0.3em 0 0.3em 1em;
}
.search::placeholder {
  font-style: italic;
  color: rgba(128, 128, 128, 0.679);
}
.auto {
  padding: 0;
}
