<div class="wrapper">
    <div class="container">
      <div class="header">
        <p class="title">Register</p>
      </div>
      <form [formGroup]="registerForm" class="form">

          <label class="label" for="email">Email</label>
          <input type="email" class="input" id="email" formControlName="email">
      
        
          <label class="label" for="password">Password</label>
          <input type="password" class="input" id="password" formControlName="password">
        
       
          <label class="label" for="confirm_password">Confirm Password</label>
          <input type="password" class="input" id="confirm_password" formControlName="confirmPassword">
   
      </form>
      <div class="footer">
        <button class="button" (click)="register()">Login</button>
      </div>
    </div>
  </div>
  

