.container {
  background-color: var(--toolbar);
  display: grid;

  grid-template-columns: 0.2fr 1fr;
  padding: 1rem;
  gap: 1em;
  align-items: center;
}
.ng-invalid:not(form) {
  border-bottom: 1px solid red;
}
.adress-container {
  display: flex;
  grid-column: 2;
}
.adress-link {
  padding: 0.1rem;
  display: flex;
}
