<div class="container">
  <app-customer-search class="search"></app-customer-search>
  <button class="button new">+ client nou</button>
  <button
    class="button edit"
    *ngIf="client"
    title="modifica detaliile clientului"
  >
    <span class="material-symbols-outlined"> edit </span>modifica
  </button>
  <div class="content" *ngIf="client">
    <div class="header">
      <p class="title">{{ client.Party.PartyName.Name }}</p>
    </div>
    <div class="details">
      <label class="label">nr. înregistrare:</label>
      <p class="text">{{ client.Party.PartyLegalEntity.CompanyLegalForm }}</p>

      <label class="label">cui:</label>
      <p class="text">{{ client.Party.PartyTaxScheme.CompanyID }}</p>

      <label class="label">adresa:</label>
      <p class="text adress">
        {{
          client.Party.PostalAdress.PostBox
            ? client.Party.PostalAdress.PostBox + ", "
            : ""
        }}
        {{
          client.Party.PostalAdress.StreetName
            ? client.Party.PostalAdress.StreetName + ", "
            : ""
        }}
        {{
          client.Party.PostalAdress.BuildingNumber
            ? client.Party.PostalAdress.BuildingNumber + ", "
            : ""
        }}
        {{
          client.Party.PostalAdress.CityName
            ? client.Party.PostalAdress.CityName + ", "
            : ""
        }}
        {{
          client.Party.PostalAdress.PostalZone
            ? client.Party.PostalAdress.PostalZone + ", "
            : ""
        }}{{
          client.Party.PostalAdress.CountrySubentity
            ? client.Party.PostalAdress.CountrySubentity + ", "
            : ""
        }}{{
          client.Party.PostalAdress.Country.IdentificationCode
            ? client.Party.PostalAdress.Country.IdentificationCode
            : ""
        }}
      </p>
    </div>

    <div class="contact">
      <label class="label">nume:</label>
      <p class="text">{{ client.Party.Contact.Name }}</p>
      <label class="label">telefon:</label>
      <p class="text">{{ client.Party.Contact.Telephone }}</p>
      <label class="label">e-mail:</label>
      <p class="text">{{ client.Party.Contact.ElectronicMail }}</p>
    </div>
  </div>
</div>
