.ng-invalid:not(form) {
  border-bottom: 1px solid red;
}

.invalid {
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: white;
  margin-top: 2rem;
}
.closed-view {
  position: relative;
  display: grid;

  grid-template-columns: 1fr 0.2fr 0.3fr;
  align-items: center;
  // padding: 1rem 1rem 0 1rem;
  gap: 0.5rem;
  padding-top: 1rem;
  text-align: center;
  .label {
    grid-column: 2;
    text-align: end;
  }
  .value {
    grid-column: 3;
    text-align: start;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
  }
  .customer-name {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    color: white;
    margin-bottom: 0.3rem;
    grid-row: 1/3;
    grid-column: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.content {
  position: relative;
  overflow: hidden;
}

.header {
  position: relative;
  display: flex;
  gap: 2rem;
  padding-right: 1rem;
  align-items: center;
  padding: 0.5rem;
}
.form {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  padding: 1rem;
  gap: 1em;
  align-items: center;
}
.footer {
  display: flex;
  justify-content: space-between;
  padding: 0.3em 2rem;
  align-items: center;
}
.button {
  box-shadow: none;
  border-radius: 0;
  background-color: transparent;
  color: white;
  border: 1px solid var(--components-border);

  padding: 0.5em 1.5em;
  &:hover {
    background-color: var(--components-border);
  }
}
.button-right {
  display: flex;
  gap: 1rem;
}

.search-container {
  width: 100%;
}
.contact {
  font-size: 14px;
  border: none;
  margin-top: 2rem;
}
.adress-link {
  padding: 0.1rem;
  display: flex;
}
.edit-adress-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
