@use "@angular/material" as mat;

@include mat.core();

$my-primary: mat.define-palette(mat.$indigo-palette, 500);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
    ),
    density: 0,
  )
);

@include mat.core-theme($my-theme);

@include mat.autocomplete-theme($my-theme);

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  background-color: var(--background);
}

p {
  margin: 0;
  color: white;
}
:root {
  --toolbar: #1a2730;
  --button: rgb(196 230 255);
  --background: #fcffea;
  --input-focused: #00000034;
  --components: #ffffff00;
  --components-border: #ffffff22;
  --logo: #f4edea;
  --label: #0063cd;
  --actions: #06bcc1;
  --actions-light: #f4edea;
  --input-border: #02020b;
  --danger: rgb(255 55 55);
  --text: rgb(255, 247, 224);
}
.container {
  background-color: var(--components);
  backdrop-filter: blur(10px);
  // border: 1px solid var(--components-border);
  border-radius: 5px;
  border: 1px solid #06bbc15c;
  padding: 0.5rem 0 0 0;
  box-shadow: 4px 4px 10px 1px #000000ae;
}
.input,
.textarea {
  font-size: 1em;
  width: 100%;
  color: var(--text);
  font-weight: 200;
  font-family: "Poppins", sans-serif;
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
}
textarea {
  resize: none;
  overflow: hidden;
}

.input[type="date"] {
  text-align: center;
  color-scheme: dark;
  font-family: "Audiowide", sans-serif;
  font-weight: 200;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  appearance: none;
  -moz-appearance: textfield;
}

.link {
  all: unset;
  color: var(--actions);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  padding: 1rem;
  text-wrap: nowrap;
  cursor: pointer;

  &:hover {
    color: var(--actions-light);
  }
}
.button {
  all: unset;

  background-color: var(--button);
  box-shadow: 2px 2px 5px -2px var(--actions-light);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition-duration: 0.1s;
  &:hover {
    background-color: white;
  }
}
.label {
  grid-column: 1;
  letter-spacing: 1px;
  color: var(--actions);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 200;
  text-wrap: nowrap;
  // border-bottom: 1px solid var(--input-border);
}
.title {
  color: var(--text);
  font-family: "Audiowide", sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  margin-left: 2rem;
}
.opened-view {
  background-color: rgb(0 0 0 / 55%);
}
.formatted-adress {
  display: flex;
  color: var(--text);
  align-items: center;
  font-size: 1em;
  font-weight: 200;
  width: 100%;
  font-family: "Poppins", sans-serif;
  flex-wrap: wrap;
  border-bottom: 1px solid white;
  div {
    text-wrap: nowrap;
    margin: 0;
  }
}
option {
  background-color: black;
}
.more {
  color: var(--actions);
  font-size: 10px;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 0.5rem;
  align-items: center;
  display: flex;
  justify-content: center;
}
