@use "@angular/material" as mat;

@include mat.core();

$my-primary: mat.define-palette(mat.$indigo-palette, 500);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
    ),
    density: 0,
  )
);

@include mat.core-theme($my-theme);

@include mat.autocomplete-theme($my-theme);

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  background-image: url("../src/assets/black.webp");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  // background-image: linear-gradient(
  //   to right top,
  //   #10151d,
  //   #141b27,
  //   #172132,
  //   #1a283d,
  //   #1e2e48,
  //   #1e2e48,
  //   #1e2e48,
  //   #1e2e48,
  //   #1a283d,
  //   #172132,
  //   #141b27,
  //   #10151d
  // );
  // background-attachment: fixed;
}
html {
  overflow-y: scroll;
}
p {
  margin: 0;
  color: white;
}

:root {
  --mat-datepicker-calendar-text-font: "Poppins", sans-serif;
  --mat-datepicker-calendar-date-text-color: gray;
  --mat-datepicker-calendar-date-selected-state-text-color: var(--text);
  --mat-autocomplete-background-color: #000000;
  --mdc-icon-button-icon-color: var(--text);
  --mat-option-label-text-color: var(--text);
  --primary: #171f2b;
  --background: #10151d;
  --button-background: #10151d;
  --component-background: #0000004f;
  --border: #888888;
  --border-active: #6a82a8;
  --text: #eaeaea;
  --placeholder: #d9dfe7a2;
  --label: #c6c6c6;
  --action: #b895fd;
  --action-active: #ffffff;
  --accent: red;
  --danger: red;
}
.container {
  background-color: var(--component-background);
  backdrop-filter: blur(15px);

  border-radius: 10px;

  padding: 2rem;
  // box-shadow: 4px 4px 10px 1px #000000ae;
}
.mdc-text-field {
  padding: 0 !important;
}
.mdc-line-ripple::before,
.mdc-line-ripple::after {
  border-bottom-style: none !important;
}
.mdc-icon-button {
  color: var(--action) !important;
}
.mat-datepicker-content-container {
  background-color: var(--mat-autocomplete-background-color);
  color: var(--text);
}
.mat-mdc-form-field-type-mat-date-range-input .mat-mdc-form-field-infix {
  display: flex;
  align-items: center;
}
.mat-mdc-form-field-subscript-wrapper,
.mat-mdc-form-field-bottom-align::before {
  display: none;
  padding: 0;
}
.mat-mdc-icon-button {
  padding: 0;
}

.mat-calendar-body-in-preview {
  background-color: rgba(99, 99, 99, 0.57) !important;
  border-radius: 50%;
  border: none !important;
}
.mat-mdc-form-field-infix {
  display: flex;
  align-items: center;
  color: var(--text);
  font-family: "Google-regular", sans-serif;
  font-size: 1em;
  height: 1.5em;
  padding-left: 15px;
}
.mat-calendar-body-cell-content {
  border-width: 2px !important;
}
.mat-mdc-form-field-type-mat-date-range-input .mat-mdc-form-field-infix {
  display: flex;
  height: 1.7em;
}
.input,
.textarea {
  font-size: 1em;
  // width: 100%;
  color: var(--text);
  font-weight: 200;
  font-family: "Poppins", sans-serif;
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--border);
  padding-left: 15px;
}
textarea {
  resize: none;
  overflow: hidden;
}
textarea::placeholder {
  color: var(--text);
  font-weight: 200;
  font-family: "Poppins", sans-serif;
}

.input[type="date"] {
  color-scheme: dark;
  font-family: "Google-regular", sans-serif;
  font-weight: 200;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  appearance: none;
  -moz-appearance: textfield;
}

.link {
  all: unset;
  color: var(--action);
  font-family: "Google-regular", sans-serif;
  font-weight: 100;
  font-size: 16px;

  text-wrap: nowrap;
  cursor: pointer;

  &:hover {
    color: var(--action-active);
  }
}
.button {
  all: unset;
  background-color: transparent;
  text-align: center;
  font-family: "Google-regular", sans-serif;
  color: var(--action);
  // border: 1px solid var(--action);

  transition-duration: 0.2s;
  text-wrap: nowrap;
  &:hover {
    color: var(--action-active);
    border-color: var(--action-active);
    transition-duration: 0.2s;
  }
}
.label {
  grid-column: 1;
  letter-spacing: 1px;
  color: var(--label);
  font-family: "Google-regular", sans-serif;
  font-size: 12px;
  text-wrap: nowrap;
  // border-bottom: 1px solid var(--input-border);
}
.text {
  font-family: "Google-regular", sans-serif;
  font-size: 14px;
  font-weight: 200;
  text-wrap: nowrap;
  color: var(--text);
  line-height: 1.5em;
}
.title {
  color: var(--text);
  font-family: "Google-regular", sans-serif;
  font-size: 30px;
  letter-spacing: 2px;
}
.opened-view {
  background-color: rgb(0 0 0 / 55%);
}
.formatted-adress {
  display: flex;
  color: var(--text);
  align-items: center;
  font-size: 1em;
  font-weight: 200;
  width: 100%;
  font-family: "Poppins", sans-serif;
  flex-wrap: wrap;
  border-bottom: 1px solid white;
  div {
    text-wrap: nowrap;
    margin: 0;
  }
}
option {
  background-color: var(--background);
  color: var(--text);
}

.more {
  color: var(--action);
  font-size: 10px;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 0.5rem;
  align-items: center;
  display: flex;
  justify-content: center;
  &:hover {
    color: var(--action-active);
  }
}
@font-face {
  font-family: "Google-regular";

  src: url("assets/google-sans/ProductSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Google-thin";
  src: url("assets/google-sans/ProductSans-Thin.ttf") format("truetype");
}
